:root {
    --LightBlue: #9dccfa;
    --Baige: #faf4ed;
    --off-white: #f5f5f5;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--LightBlue);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#search {
    border: solid;
    width: 20%;
    padding: 10px;
    font-size: 16px;
}

.hide {
    display: none;
}

.to-do {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Title {
    margin-left: 20px;
    font-size: 30px;
    color: black;
    text-decoration: underline;
}

.list {
    overflow: auto;
    max-height: 40vh;
    height: 100%;
    width: 75%;
    background-color: var(--off-white);
    border: solid;
    border-radius: 25px;
}

#lItem {
    font-size: 18px;
    color: black;
}

.to-do_text {
    background-color: var(--off-white);
    overflow-wrap: normal;
}

ul li {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px;
}

ul li:hover {
    background-color: lightgray;
}
.completeBtn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.completeBtn:hover {
    background-color: green;
}

.removeBtn:hover {
    background-color: red;
}

span.close {
    display: flex;
    justify-content: space-evenly;
}

.completed {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.Clist {
    max-height: 40vh;
    height: 100%;
    width: 75%;
    background-color: var(--off-white);
    overflow: auto;
    border: solid;
    border-radius: 25px;
}

.Clist ul {
    list-style: none;
}

textarea {
    font-size: 20px;
    background-color: white;
    resize: none;
    border: none;
    overflow: hidden;
}

.add-task-btn {
    display: inline-block;
    position: fixed;
    bottom: 3px;
    left: 40%;
}

#myInput {
    border: solid;
    width: 231.6px;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    height: 44px;
    cursor: pointer;
    border: solid;
}